:root {--white-color: #ffffff;
    --main-font-color: #757575;
    --button-background: #F5F4FA;
    --secondary-color: #212121;
    --accent-color: #2196F3;
    --grey-background: #2F303A;
}
                                      /*додано курсор*/
.button {
    cursor: pointer;
}


body {
background-color: var(--white-color);
color: var(--main-font-color);
font-family: roboto, sans-serif;
font-size: 14px;
}

a {
    text-decoration: none;
}
                                         /*задано колір для header. Два кольори у макеті*/
.header a {
    color: var(--secondary-color);
}
.contact a {
    color: var(--main-font-color);
}

.logo {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.logo span {
    color: var(--accent-color);
}
.nav ul a:hover,
.nav ul a:focus,
.contact a:hover,
.contact a:focus {
    color: var(--accent-color);
}
ul {
    list-style-type: none;
}
.header li {
    padding-right: 50px;
}

/*main*/
.hero {
    background-color: var(--grey-background);
    color: var(--white-color);
    }
.hero-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    text-align: center;
}
.hero button {
    color: var(--white-color);
    background: var(--accent-color);
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    text-align: center;
}

/*sections*/

h2 {
font-size: 36px;
font-weight: 700;
line-height: 1.1px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
                     /*h3 начебто як у макеті*/
.features h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
}
.features .list {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}
h2, h3 {
    color: var(--secondary-color);
}
.team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}
.team p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}

.footer {
    background-color: var(--grey-background);
    color: var(--white-color);
}
.footer a {
    color: var(--white-color);
}

/*portfolio*/
.buttons {
    display: flex;
}
.buttons button {
    background: var(--button-background);
    border: none;
    border-radius: 4px;
    color: var(--secondary-color);
    padding: 6px 22px;
    margin-right: 8px;  
   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;

}
.buttons button:hover {
    color: var(--white-color);
    background-color: var(--accent-color);
}
.project-cards p {
    color: var(--main-font-color);
        
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
}
.project-cards h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}